<div class="main">
  <div id="about-us" class="contact-us">
    <p class="section-label">Contact us</p>
    <p class="main-title">Have questions or need assistance?</p>
  </div>
  <div id='register-form' class="contact-us-form">
    <div class="company-info">
      <p class="support-message">
        Our team is here to help!<br />
        Fill out the form below, and we’ll get back to you as soon as possible.
      </p>

      <div class="contact-details">

      </div>
      <ul class="contact-details">
        <li>
          <p class="label">Phone:</p>
          <a href="tel:+447307321627">+447307321627</a>
        </li>
        <li>
          <p class="label">Email:</p>
          <a href="mailto:sales@urtravelhelper.com">sales_urtravelhelper.com</a>
        </li>
        <li>
          <p class="label">Address:</p>
          <span>
        37 Glendale Gardens,<br />
        Wembley, London,<br />
        HA9 8PR
      </span>
        </li>
      </ul>

      <div class="social-icons">
        <a href="#"><img ngSrc="/assets/icons/home/contacts/facebook.svg" alt="Facebook" height="32" width="32"/></a>
        <a href="#"><img ngSrc="/assets/icons/home/contacts/x.svg" alt="X" height="32" width="32"/></a>
        <a href="#"><img ngSrc="/assets/icons/home/contacts/instagram.svg" alt="Instagram" height="32" width="32"/></a>
        <a href="#"><img ngSrc="/assets/icons/home/contacts/whatsapp.svg" alt="WhatsApp" height="32" width="32"/></a>
      </div>
    </div>
    <div class="contact-form">
      <app-register-form/>
    </div>
  </div>
</div>
